body {
	background-color: white;
	
	padding: 0;
	margin: 0;
	z-index: 0;
	font-family: klavika;
	
}



#sitecontent {
	display: block;
	width: 780px;
	padding-top: 200px;
	margin: 0 auto;
}


#sitecontent .leftsidebar {
	float: left;
	width: 150px;
}

#profilepic {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
#sitecontent .leftsidebar ul {
	text-align:justify;
	list-style-type: none;
	/* Replace with your own font. Klavika is custom. */
	font-family: klavika_lightlight;
	
}


#sitecontent .leftsidebar ul li a {
	text-decoration: none;
	color: #3f83ca;
	padding-bottom: 5px;
}

#sitecontent .leftsidebar ul li a:hover {
	opacity: 0.9;
}

#sitecontent .rightsidebar {
	float: right;
	width: 600px;
	
}

#sitecontent .rightsidebar > h1 {
	font-size:60px;
	color: #3f83ca;
	line-height: 0;
	/* Replace with your own font. Klavika is custom. */
	font-family: klavika_mediummedium;
	
}

#sitecontent .rightsidebar > h2 {
	line-height: 23px;
	color: #38414f;
	/* Replace with your own font. Klavika is custom. */
	font-family: klavika_rgregular;
}

#sitecontent .rightsidebar > p {
	padding-top: 15px;
	line-height: 20px;
	/* Replace with your own font. Klavika is custom. */
	font-family:klavika_lightlight;

	
}
