body {
	padding: 0 auto;
	margin: 0 auto;
	
}








#sitecontent {
	display: block;
	width: 780px;
	padding-top: 150px;
	margin: 0 auto;
}


#sitecontent .leftsidebar {
	float: left;
	width: 150px;
}

#profilepic {
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#sitecontent .leftsidebar ul {
	position: relative;
	top: -5px;
	list-style-type: none;
	font-family: 'Cantora One', sans-serif;
	
}


#sitecontent a {
	text-decoration: none;
	color: #3f83ca;
}




#sitecontent .leftsidebar ul li{
	margin-bottom: 2px;
}

#sitecontent a:hover {
	opacity: 0.9;
	-webkit-moz:0.7;
}

#sitecontent .rightsidebar {
	float: right;
	width: 600px;
	
}

#sitecontent .rightsidebar > h1 {
	font-size:60px;
	color: #3f83ca;
	line-height: 0;
	font-family: 'Cantora One', sans-serif;
	
}

#sitecontent .rightsidebar > h2 {
	line-height: 10px;
	font-weight: bold;
	color: #38414f;
	font-family: 'Cantora One', sans-serif;
}

#sitecontent .rightsidebar > p {
	padding-top: 16px;
	line-height: 20px;
	font-family: 'Cantora One', sans-serif;
	

	
}

#secondparagraph {
	opacity: 0.5;

	
}

#secondparagraph:hover {
	color:#3f83ca;
	opacity: 1.0;
	-moz-opacity: 1.0;
	-webkit-opacity: 1.0;
}

#secondparagraph a {
	text-decoration: none;
	color: inherit;
}